body{
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}
nav h1{
    color: #717171;
    font-family: 'playfair display', sans-serif;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/ff.png);
    background-size: cover;
    color: #fff;
    padding: 100px;
}
header h1{
    font-family: 'playfair display', sans-serif;
    font-size: 50px;
}
header h4{
    margin-top: -10px;
    font-size: 20px;
    text-align: center;

}
header button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-size: 20px;
    font-family: 'playfair display', sans-serif ;
    outline: none;
    cursor: col-resize;

}
.separator{
    height: 3px;
    width: 7%;
    border: none;
    box-shadow: none;
    background-color: #3498db;

}


 h2{
    text-align: center;
    padding-top: 3%;
    margin-top: -5px;
}
.about article{
    margin-bottom: 7%;
    
}

.about article h2{
    text-align: center;
    
}
.about article p{
    text-align: center;
    height: 10px;
    font-size: 13px;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.cta-100 {
    margin-top: 30px;
    padding-left: 10%;
    padding-top: -10%;
  }
  .col-md-4{
      padding-bottom:10px;
  }
  
  .white {
    color: #fff !important;
  }
  .bg-blue-ui {
    background-color: #708198 !important;
  }
  figure img{width:500px;}
  
  #blogCarousel {
    padding-bottom: 50px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }
  
  
  /* The colour of the indicators */
  
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 20px;
    height: 8px;
  }
  
  .blog .carousel-indicators .active {
    background: #0fc9af;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 5px;
  }
  
  

footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
}
#name {
    width: 350px;
    margin-bottom:10px ;
}

#E-mail{
    width: 350px;
    margin-bottom: 10px;
}
#message{
    width: 350px;
    margin-bottom: 3px;
}

.rezo{
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.reso{
    float: right;

}




 