
body, html{
    padding: 0;
    margin: 0;
}
body{
    font-family:'raleway' sans-serif;
}
a,a:hover{
    text-decoration: none;
}
/* header*/
.container-fluid headerr{
background-color: #3498d8;
height: 70px;
line-height: 70px;
}
.logo{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    float: left;

}
.mnu{
    float: right;
}
.menu a{
    color: #ffffff;
    margin-right: 30px;
}
.menu a:hover {
color: #2c3e50;
}

/* bannière*/
.ban{
    width: 100%;
    max-width: 100%;
}


/* header*/


/* header*/


